.workspace-dnd {
  height: calc(100% - 9rem);
  overflow-y: auto;
  padding: 0.8rem;
  position: relative;

  &__scroll-container {
    @include flex-col;
    gap: 0.4rem;
  }

  &__native-placeholder {
    display: none;
  }

  &__placeholder {
    background-color: $primary-500;
    height: 0.2rem;
    border-radius: 2rem;
    position: absolute;
    left: 0.8rem;

    &::before,
    &::after {
      display: inline-block;
      height: fit-content;
      width: fit-content;
    }

    &::after {
      content: url(../images/icons/dnd-carat.svg);
      transform: translate(-90%, -45%);
    }

    &::before {
      content: url(../images/icons/dnd-carat.svg);
      left: 100%;
      position: absolute;
      transform: translate(10%, -45%) rotateY(180deg);
    }
  }
}
