.map-layers-overlay {
  background-color: white;
  border-radius: 4px;
  width: 30rem;
  padding: 1rem 1.6rem;
  position: absolute;
  z-index: $z-index-11;
  top: 7rem;
  max-height: calc(100% - 9rem);
  right: 2rem;
  overflow: auto;

  @include response(phone) {
    top: 8vh;
  }

  &__title {
    font-size: $body-txt-3;
    color: #cccc;
    font-weight: $bold-txt-1;
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
}

.layer-item {
  .aus-input {
    width: 4rem;
  }

  &__txt-box {
    @include flex-center-y;
    height: 3.9rem;
    border: 1px solid $neutral-200;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0.8rem 0;

    &.active {
      border-color: $primary-500;
      background-color: $primary-200;
    }
  }

  span {
    font-size: $body-txt-3;
  }
  .aus-input__checkbox {
    margin-right: 1.5rem;
    margin-left: 1.4rem;
    border-color: $neutral-200;
    &:checked {
      background-image: url(../images/tick-mark-white.svg);
      background-color: $primary-500;
      border: none;
    }
  }

  &__opacity {
    &-box {
      @include flex-center-y;
      justify-content: space-between;
      width: 100%;
    }
    &-txt-box {
      border: 1px solid $neutral-200;
      width: 4rem;
      height: 2.9rem;
      text-align: center;
      border-radius: 4px;
      color: $neutral-200;
      padding: 0.3rem 0.3rem;

      span {
        font-size: $body-txt-3;
      }
    }
    &-slider {
      width: 20.5rem;
    }
  }

  &__heading {
    color: $neutral-200;
    font-weight: $bold-txt-1;
    text-transform: uppercase;
    line-height: 14px;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
  }
  .line {
    margin: 1.2rem 0;
  }
}
