.change-password-modal {
  .modal-content {
    width: 80rem;
    @include response(phone) {
      width: 41rem;
    }
    .modal-body {
      width: 43.5rem;
    }
  }
  .aus-input {
    // height: 2.9rem;
    width: 25.5rem;
    &__password {
      margin-bottom: 0.5rem;
    }

    &__error {
      font-size: $body-txt-4;
    }

    @include response(phone) {
      width: 50%;
      box-shadow: none;
    }
    &-group {
      padding: 0;
      margin-bottom: 3rem;
    }
  }
}
