.layer-properties-sidecard {
  height: calc(100% - ($header-height + $footer-height));

  .offcanvas-body {
    padding: 0;
    height: 100%;
  }

  &__accordion {
    border-bottom: 1px solid $neutral-100;

    .accordion {
      &__group {
        padding-bottom: 1.2rem;

        &--separated {
          padding-top: 1.2rem;
          border-top: 1px solid $neutral-25;
        }

        &__content {
          @include clamp-lines(3);
          color: $neutral-300;
          margin-top: 0.4rem;
        }
      }
    }
  }
}
