.modifiable-input {
    @include flex-row-center-x;
    width: 100%;
    height: 4.2rem;
    padding: 0rem;
  }
  .modifiable-input-box {
    &-enabled {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0.2rem 0.8rem;
      position: static;
      background: #ffffff;
      border: 0.1rem solid #63a2d8;
      box-sizing: border-box;
      box-shadow: 0rem 0rem 0rem 0.32rem rgba(0, 141, 255, 0.25);
      border-radius: 0.4rem;
    }
  }
  