API_ENGINE_URL=http://host.docker.internal
BUCKET_NAME=rainbow-tiff
ENVIRONMENT=local
SENTRY_DSN=https://e425a9086be94bad954fad9653ad6e61@o1240330.ingest.sentry.io/6395253
API_ENGINE_API_KEY=ciO9V4VgIQsKt70VZ59LYiu5S2PWlL

# Database.
RDS_DB_NAME=postgres
RDS_HOSTNAME=host.docker.internal
RDS_PASSWORD=postgres
RDS_PORT=5431
RDS_USERNAME=postgres

# AWS.
AWS_ACCESS_KEY_ID=
AWS_DEFAULT_REGION=
AWS_SECRET_ACCESS_KEY=
