.map-3d-heap-management {
  &__container {
    height: 100%;
    overflow-y: hidden;
    .rc-tabs {
      height: 100%;
      &-nav {
        width: 35rem;
        z-index: $z-index-1;
      }
      &-tab-btn {
        width: 10.8rem;
      }
      &-content-holder {
        height: 100%;
        overflow-y: auto;
      }
      &-content,
      .rc-tabs-tabpane {
        height: 100%;
      }
    }
  }
}
@import './components/volume-calculation/volume-calculation';
@import './components/heap-list/heap-list';
@import './components/heap-management-guide/heap-management-guide';
@import './components/edit-heap/edit-heap';
