.toggle-switch {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 19px;
    width: fit-content;
    max-height: 3rem;
    border-radius: 8px;
    background-color: $neutral-25;
    padding: 2px;
    @include flex-center;
    gap: 0.2rem;
    overflow: hidden;
  
    &__box {
      width: max-content;
      max-height: 2.7rem;
      padding: 4px 8px;
      border-radius: 6px;
      color: $neutral-200;
      background-color: transparent;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      &:hover {
        color: $neutral-250;
      }
      &.active {
        transition: 0.3s ease-in-out;
        color: $primary-500;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
        background-color: white;
      }
    }
  }
  