.password-validation-message {
  &-container {
    @include flex-col-start-x;
    margin: 0;
    padding: 1rem 1.2rem;
    background-color: $neutral-25;
    border-radius: 1rem;
    width: 100%;

    li {
      list-style-type: none;
      font-size: $body-txt-3;
      font-weight: $font-weight-500;
      color: $neutral-400;
    }
  }
}
