// Variables.
$btn-disabled-color: $neutral-250;
$btn-primary-focus-color: $primary-500;
$btn-primary-hover-color: $primary-600;

$btn-secondary-focus-color: $primary-300;
$btn-secondary-hover-color: $neutral-25;
$btn-secondary-active-color: $neutral-50;

$btn-active-box-shadow: $primary-250;

$btn-outline-border-color: $primary-500;
$btn-outline-hover-color: $neutral-25;
$btn-outline-active-color: $neutral-50;

$btn-pill-focus-color: $primary-500;
$btn-pill-border-color: $primary-500;
$btn-pill-hover-color: $neutral-25;
$btn-pill-active-color: $neutral-50;
$btn-pill-shadow-color: $primary-300;
$btn-pill-border-size: 0.1rem;

$btn-link-border-color: $primary-500;
$btn-link-text-color: $primary-500;
$btn-link-box-shadow-color: $primary-300;
$btn-link-hover-text-color: $primary-600;
$btn-link-hover-color: $neutral-25;

$btn-border-radius: 6px;
$btn-icon-margin: 0.3rem;
$btn-spinner-radius: 1.5rem;

.aus-btn {
  @include flex-center;
  gap: 0.6rem;
  font-size: $body-txt-3;
  text-decoration: none;
  border: none;
  height: 3.4rem;
  padding: 0.75rem 1.2rem;
  border-radius: $btn-border-radius;

  &:active,
  &:focus {
    border-color: transparent;
  }

  &:hover {
    color: white;
  }

  i.spinner-border {
    height: $btn-spinner-radius;
    width: $btn-spinner-radius;
    font-size: 0.75rem;
    margin-right: calc(#{$btn-icon-margin} + 0.5rem);
  }

  &.btn-primary {
    color: $white;
    background-color: $btn-primary-focus-color;
    padding: 0.75rem 1.2rem;

    &:focus-visible {
      box-shadow: 0 0 0 0.3rem rgba($primary-300, 1);
    }

    &:active {
      background-color: $btn-primary-hover-color;
      box-shadow: 0 0 0 0.3rem rgba($primary-300, 1);
    }

    &:hover {
      background-color: $btn-primary-hover-color;
    }
  }

  &.btn-secondary {
    color: $btn-primary-focus-color;
    background-color: $white;
    padding: 0.75rem 1.2rem;

    &:focus-visible {
      box-shadow: 0 0 0 0.3rem rgba($primary-300, 1);
    }

    &:active {
      color: $btn-primary-focus-color;
      background-color: $btn-secondary-hover-color;
      box-shadow: 0 0 0 0.3rem rgba($primary-300, 1);
    }

    &:hover {
      color: $btn-primary-focus-color;
      background-color: $btn-secondary-hover-color;
    }

    &:disabled {
      background-color: $white;
      color: $btn-disabled-color;
    }
  }

  &.btn-pill {
    gap: 0.4rem;
    color: $btn-primary-focus-color;
    border-radius: 20px;
    background-color: $white;
    border: $btn-pill-border-size solid transparent;
    height: 3.3rem;

    &:focus-visible {
      box-shadow: 0 0 0 0.3rem rgba($primary-300, 1);
    }

    &:active {
      color: $btn-primary-focus-color;
      border: $btn-pill-border-size solid $btn-outline-border-color;
      background-color: $btn-pill-hover-color;
      box-shadow: 0 0 0 0.3rem rgba($primary-300, 1);
    }

    &:hover {
      border: $btn-pill-border-size solid $btn-outline-border-color;
      background-color: $btn-pill-hover-color;
    }

    &:disabled {
      background-color: $neutral-25;
      color: $neutral-250;
      border: $btn-pill-border-size solid transparent;
    }
  }

  &.btn-outline {
    color: $btn-primary-focus-color;
    border: 1px solid $btn-outline-border-color;
    background-color: $white;

    &-danger {
      border: 1px solid $red-500;
    }

    &:focus-visible {
      box-shadow: 0 0 0 0.3rem rgba($primary-300, 1);
    }

    &:active {
      color: $btn-primary-focus-color;
      border: 1px solid $btn-outline-border-color;
      background-color: $btn-outline-hover-color;
      box-shadow: 0 0 0 0.3rem rgba($primary-300, 1);
    }

    &:hover {
      background-color: $btn-outline-hover-color;
    }

    &:disabled {
      background-color: $white;
      color: $btn-disabled-color;
    }
  }

  &.btn-link {
    color: $btn-link-text-color;
    gap: 0.4rem;
    padding: 0.25rem 0.6rem;
    height: auto;

    &:hover {
      color: $btn-link-hover-text-color;
    }

    &:active {
      color: $btn-link-hover-text-color;
      box-shadow: 0 0 0 0.3rem rgba($primary-300, 1);
    }

    &:focus-visible {
      box-shadow: 0 0 0 0.3rem rgba($primary-300, 1);
    }

    &:disabled {
      background-color: $white;
      color: $btn-disabled-color;
    }

    .spinner-border {
      margin: 0;
    }
  }

  &:disabled {
    background-color: $btn-disabled-color;
    border-color: $btn-disabled-color;
    cursor: not-allowed;
    pointer-events: initial;
  }

  &.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
  }

  .separator {
    width: 0.1rem;
    height: 2.2rem;
    margin-left: 0.5rem;
    border: 0.1rem solid $neutral-150;
  }
}
