.upload-gcp-modal {
  backdrop-filter: brightness(0.5);
  .modal-footer {
    padding: 1.2rem 1.6rem;
  }
  &__file-upload {
    margin-bottom: 1.2rem;
  }

  &__gcp {
    &-input-crs {
      @include flex-row-center-x;
      gap: 1rem;

      &__container {
        .aus-input {
          &-label {
            @include flex-row-center-x;
            span {
              font-weight: $bold-txt-2;
              color: $primary-500;
            }

            hr {
              margin-left: 0.4rem;
              width: 100vw;
            }
          }
        }
      }
    }

    &-error {
      background-color: $red-100;
      color: $red-500;
      border-radius: 4px;
      padding: 0.4rem 0.8rem;
      gap: 0.4rem;
      margin-top: 1.2rem;
    }
  }

  &__radio {
    &.aus-input__checkbox {
      height: 1.4rem;
      width: 1.4rem;

      &.form-check-input:checked {
        background-image: unset !important;
        background-color: unset;
        border: 4px $primary-500 solid;
      }
    }

    &-info {
      background-color: $primary-200;
      padding: 0.4rem 0.8rem;
      font-size: 1.2rem;
      color: $primary-500;
      margin-bottom: 1rem;
      border-radius: 4px;
    }

    &-group-container {
      @include flex-row-center-y-start-x;
      gap: 0.8rem;
      margin-bottom: 1rem;
    }

    &-group {
      @include flex-row-center-y-start-x;
      gap: 0.8rem;
      &.aus-input-group {
        width: unset;
      }
    }
  }
}
