VITE_BACKEND_URL=http://localhost
VITE_CESIUM_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJiZjA0ZGQ3Yi0yMTFkLTQyM2MtOTQ0Zi05OTk2MmRkOTc4NWQiLCJpZCI6MzY3NTQsImlhdCI6MTY1Njc3OTE0NX0.Q4jKsE5J53xkoORdo2Ipp_D9pglhiPbMiYWWFfkOQFo
VITE_MAPBOX_ACCESS_TOKEN=pk.eyJ1Ijoic2FpdGVqYXVzIiwiYSI6ImNrM2R5emU5cTFmcHYzaXBkbzZzcjE1enkifQ.wB24J_XpAwaarHM1fmJ4Xw
VITE_MAPBOX_USERNAME=saitejaus
VITE_PROCESSING_URL=https://dev-dash.aus.co.in
VITE_TILE_SERVER_URL=http://localhost:8000

# Tools
VITE_GOOGLE_TAG_MANAGER_ID=YOUR_TAG_MANAGER_ID
VITE_SENTRY_DSN=https://3870fe555b1e41e0bdc3836d20647020@o1240330.ingest.sentry.io/6658414