.card-toggle {
  @include flex-row-center-xy;
  padding: 0.55rem 1.2rem;
  gap: 0.8rem;
  height: 3rem;
  width: fit-content;
  background: $neutral-100;
  color: $primary-600;
  border-radius: 6px;
  font-size: $body-txt-3;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: $primary-200;
  }

  &.active {
    background-color: $primary-500;
    color: $white;
  }

  &.disabled {
    color: $neutral-200;
    cursor: not-allowed;
    pointer-events: none;
  }
  .spinner-border {
    width: 1.3rem;
    height: 1.3rem;
    border-width: 2px;
  }
}
