.workspace-select-layer {
  margin-bottom: 0.3rem;

  .list-item-content {
    @include flex-center-rev-y;
    align-items: flex-start;
  }

  &__date {
    font-size: 0.9rem;
    color: $neutral-300;
  }

  &__name {
    @include text-ellipses();
    width: 100%;
  }

  &__checkbox {
    margin-left: auto;
  }
}
