.histogram {
  user-select: none;
  margin-bottom: 0.8rem;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &__header {
    text-transform: uppercase;
    font-weight: $font-weight-500;
    color: $neutral-200;
    margin-bottom: 0.8rem;

    .histogram__graph & {
      margin-bottom: 1.2rem;
    }
  }

  &__graph {
    .rc-slider {
      width: calc(100% - 1.6rem);
      margin: auto;
    }
  }

  &-container {
    &:hover {
      cursor: pointer;
    }

    label {
      font-size: $body-txt-3;
    }

    .axis {
      shape-rendering: crispEdges;
    }

    .x.axis line {
      display: none;
    }

    .x.axis .minor {
      stroke-opacity: 0.5;
    }
  }

  &__input-container {
    @include flex-center;
    justify-content: space-between;
    margin-top: 1.2rem;

    .aus-input-group {
      @include flex-center;
      justify-content: space-between;
      flex-direction: row;
      width: fit-content;

      .aus-input {
        width: 6.9rem;
        height: 2.9rem;

        input {
          color: $neutral-200;
        }

        &-label {
          margin: 0;
          margin-right: 0.4rem;
          margin-top: 0.5rem;
          font-size: $body-txt-3;
        }
      }
    }
  }

  .x.axis path {
    display: none;
  }

  .slider-line {
    stroke-width: 1;
    opacity: 0.4;
    stroke: $neutral-200;
    width: 2rem;

    &:hover {
      cursor: ew-resize;
    }
  }
}
