.swipe-map__base-layers {
  position: absolute;
  bottom: 3.5rem;
  left: 2rem;

  &.expanded {
    left: 37rem;
  }

  &-container {
    display: flex;
  }

  .aus-icon-btn {
    border-radius: 0.8rem;
    color: $neutral-300;
    background-color: $white;
    width: 4rem;
    height: 4rem;
    backdrop-filter: blur(1px);

    &.active {
      background-color: $white;
      color: $neutral-300;
    }
  }
}